<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iShine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <iShine.Properties.Settings>
            <setting name="Encoding" serializeAs="String">
                <value>UTF-8</value>
            </setting>
            <setting name="Xor00" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Xor01" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="Xor02" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="Xor03" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="GenerateNewID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateOnlyIfSameFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PasteDefaultValue" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="DefaultNumericValue" serializeAs="String">
                <value>0</value>
            </setting>
        </iShine.Properties.Settings>
    </userSettings>
</configuration>